@using mvcapp.Dto
@model List<EmployeeDto>
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container mt-4">

    <!-- Top Bar -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Employee Dashboard</h3>
        <a class="btn btn-success" asp-action="RedirectToEmployeeForm">
            + Add Employee
        </a>
    </div>

    <!-- Table -->
    <div class="card shadow">
        <div class="card-body">

            <table class="table table-bordered table-striped text-center align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Email</th>
                        <th>Designation</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>

                    @{
                        if (Model != null && Model.Count > 0)
                        {
                            foreach (var employee in Model)
                            {
                                <tr>
                                    <td>@employee.EmployeeName</td>
                                    <td>@employee.Department</td>
                                    <td>@employee.Email</td>
                                    <td>@employee.Designation</td>
                                    <td>
                                        <button class="btn btn-sm btn-primary" asp-route-id="@employee.Id">Edit</button>
                                        <button class="btn btn-sm btn-danger" asp-route-id="@employee.Id">Delete</button>

                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" class="text-center">No employees found</td>
                            </tr>
                        }
                    }

                    
                   

                </tbody>
            </table>

        </div>
    </div>

</div>